    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <title>ML APP</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
            integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    </head>
    <body>



        <header>
        
    	<div id="brandname">
            <title>ABUSIVE CONTENT PREDICTION</title>

            

    		<right> Deep Learning </right>
            <center> </center>
    	    <right> Abusive content prediction app  </right>   
    	    
            <div class="button_group">

                    <div id="fb" class="sm_b" id="facebook" onclick="window.open('https://www.linkedin.com/in/rahulr2k', '_blank')"> <i class="fab fa-linkedin-in"></i> </div>
                    <div id="fb" class="sm_b" id="facebook" onclick="window.open('https://www.instagram.com/i.m_r2k', '_blank')" > <i class="fab fa-instagram"></i> </div>
                    
            </div>

            
            
              
        </header>


        <div class="content">   


                <ul>    

                      <p class="para"><b>Type your text below then press the Predict button </b></p>
                        
    		
                </ul>

        <div class="ml-container">

    				<form action="{{ url_for('predict')}}" method="POST">
    				<br>
    				<!-- <input type="text" name="comment"/> -->
    				<textarea name="message" rows="10" cols="100"></textarea>
    				<br/>

    				<input class="btn1" type=submit value=predict>
    		
        </form>
    		
        </div>
                






    	
        
        
        
    	
       

        <div class="results">




                <br>
                <br>
                </form>

    <br>

             </div>

       </div>
           
    </body>
    </body>
    </html>
